*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    background-color: black;
}
/*estilos de mobile */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px
    
}

a { 
    text-decoration: none;
}
header nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

header nav ul li a {
    list-style: none;
    color: red;
    text-align: center
    
}

/*main*/

main{
    margin-top: 50px;
    color: whitesmoke;
    text-align: center;
    
}

h1{
    text-align: center;
    color: whitesmoke;  
}

/*footer*/

footer{
    text-align: center;
    color: black;
}

/* mq mobile */

@media screen and (min-width: 767px){
    header {
        background-color: gray;
        justify-content: space-around;
    }
    body{
        background-color: gray
    }
    main{
        background-color: gray
    }
}

/* mq tablet */
@media screen and (min-width: 768px) and (max-width:1023px){
    header {
        background-color: darkred;
        justify-content: space-around;
    }
    body{
        background-color: darkred
    }
    main{
        background-color: darkred
    }
}

/* mq desktop */
@media screen and (min-width: 1024px){
    header {
        background-color: black;
        justify-content: space-around;
    }
    body{
        background-color: black
    }
    main{
        background-color: black
    }
}
.bienvenidos{
    font-size: 20px;
    margin-top: 50px;
}
.bienvenidos div p{
    margin-top: 10px;
    font-size: 20px;
}